<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-5 col-xs-12 center-block padding-top-30">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2> <%= params[:action] == 'new' ? 'Add Movie': 'Edit Movie' %></h2>
        </div>
        <%= form_for(movie,:html => {class: 'request_form','data-parsley-validate'=>'',id: 'my-form'}) do |f| %>
            <% if movie.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

                  <ul>
                    <% movie.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :title, style:'margin-left: 15px' %>
              <%= f.text_field :title, :placeholder => "Title" , class: "form-control padded", 'data-parsley-required'=> true, 'data-parsley-required'=> true, 'data-parsley-required-message'=>"Title is required"%>
            </div>

            <div class="form-group">
              <%= f.label :release_year, style:'margin-left: 15px' %>
              <%= f.text_field :release_year, :placeholder => "Release Year", class: "form-control padded", 'data-parsley-required'=> true, 'data-parsley-required'=> true, 'data-parsley-required-message'=>"Release Year is required" %>
            </div>

            <div class="form-group">
              <%= f.label :rating , style:'margin-left: 15px'%>
              <%= f.select :rating, options_for_select(AppConfig['rating'],movie.rating.to_i),{prompt: 'Select Rating'}, class: 'form-control padded', 'data-parsley-required'=> true, 'data-parsley-required'=> true, 'data-parsley-required-message'=>"Rating is required" %>
            </div>

            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-default btn-primary center-block margin-bottom-10" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    $('form#my-form').on("submit", function(e) {
        return $(this).parsley().validate();
    });
</script>