<section class="demoReqst-sec demoReqst-page sec-spacing padding-top-5 padding-left-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 pull-left padding-top-30">
        <div class="well well-lg">
          <div class="request-form-show">
            <h3 class="text-center"> Movies</h3>

            <table class="table table-bordered table-striped table-hover" id="sortable">
              <thead class="thead-dark">
              <tr>
                <th class="text-center">
                  Title
                </th>
                <th class="text-center">
                  Year Of Release
                </th>
                <th class="text-center">
                  Rating
                </th>
                <th class="text-center">
                  Actions
                </th>
              </tr>
              </thead>
              <tbody>
              <%if @movies.present?%>
                  <% @movies.each do |movie| %>
                      <tr class="item">
                        <td><%= movie.title %></td>
                        <td><%= movie.release_year %></td>
                        <td><%= movie.rating %></td>
                        <td><%= link_to 'Edit', edit_movie_path(movie) , :class => 'btn btn-default pull-right' %>
                          <%= link_to 'Destroy', movie, :class => 'btn btn-default pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<%= link_to 'New Movie', new_movie_path,class: 'btn btn-default btn-lg margin-left-21' %>
