<!DOCTYPE html>
<html>
<head>
  <title>Movie Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'movies', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "shared/top_navbar"%>

<%= yield %>

<div>
  <% if notice %>
      <p class="alert alert-success alert-dismissable"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger alert-dismissable"><%= alert %></p>
  <% end %>
</div>
</body>
</html>
